<!DOCTYPE html>
<%- include('.././partials/header') %>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand ms-4 fw-bold" href="#">Shop Site</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
            </ul>
            
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 me-4" style="font-family: Lora,sans-serif;">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/dashboard">Home <span class="sr-only"></span></a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/dashboard">Cart <span class="sr-only"></span></a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/dashboard">My Orders <span class="sr-only"></span></a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/users/orders/wishlist">Wishlist<span class="sr-only"></span></a>
                  </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/users/profile">Profile<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                  </li>
              <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
              </li>
              
            </ul>
           
         
          </div>
        </nav>
        </header>

    <div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
    <div class="col">
        <div class="card shadow-sm">
          <div class="d-flex justify-content-between">
            <a href="#"><img class="ms-3 mt-3" src="/<%=detail[0].productimage%>" width="100%" height="450" style="border-radius: 5px;"></a>
            <div class="me-3 mt-3 ms-4" style="width: 60%;border: 1px solid black;">
            <center><h4>Product Details:</h4></center>
            </div>
            </div>
            <div class="card-body">
              <span class="d-flex justify-content-between">
                <h4 class="card-text"><%= detail[0].name %></h4>
                <div style="border: 1px dotted green;background-color: rgb(160, 217, 160);">
                  <h5 class="ms-5 me-5"  style="text-decoration: line-through;">Rs.6522</h5>
                <h4 class="ms-5 me-5card-text">Rs.<%= detail[0].price %></h4>
                </div>
                </span>
                <p class="card-text"><%= detail[0].details %> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate officia itaque porro! Repellendus blanditiis rerum perferendis quis itaque similique earum, molestias placeat quam, animi ratione dolor nesciunt! Tempora, repellendus ex.</p>
                <div class="d-flex">
                <p class="text-muted me-2">Stock : <%= detail[0].stock %> </p>
                <p class="text-muted">Recently purchased : <%= detail[0].stock %></p>
                  </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                         <a href="/users/orders/<%= detail[0]._id %>"><button type="button" class="btn btn-sm btn-outline-secondary">Order Now</button></a> 
                        <a href="/users/orders/addWishList/<%= detail[0]._id %>"><button  id="Wishlist" type="button" class="btn btn-sm btn-outline-secondary">Whislist</button></a>
                         
                    </div>
                    <small class="text-body-secondary"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
      var btn=document.getElementById("Wishlist");
      btn.onclick=function(){
        alert('Added to wishlist');
      }
    </script>
</body>
</html>